@inject IJSRuntime JSRuntime

<div class="
        card
        border-0
        m-3
        @CardAnimationClass
        @CardHalfFlipStart
        @CardHalfFlipEnd">
    <CallbackOnCssAnimationEnd CssAnimationName="answer-reveal" OnCssAnimationCompleted="OnRevealComplete">
        <CallbackOnCssAnimationEnd CssAnimationName="answer-wrong" OnCssAnimationCompleted="OnWrongAnswerComplete">
            <CallbackOnCssAnimationEnd CssAnimationName="half-flip-start" OnCssAnimationCompleted="OnHalfFlipStartComplete">
                <CallbackOnCssAnimationEnd CssAnimationName="half-flip-end" OnCssAnimationCompleted="OnHalfFlipEndComplete">
                    <div class="card-body p-0">
                        <div class="card-front">
                            <h1 class="card-word border-bottom border-danger bg-light">@MultipleChoices.Translation</h1>
                            @*@if (MultipleChoices.Answer != "----")
                            {
                                <input type="text"
                                       class="card-input my-2"
                                       @bind="CurrentGuess"
                                       @ref="ReferenceToInputControl" />
                                <button class="mt-1 btn btn-info" @onclick="Guess">Guess</button>
                            }*@

                            @if (MultipleChoices.Answer != "----")
                            {
                                <div class="mt-3 px-4">
                                    @foreach (var choice in MultipleChoices.Choices)
                                    {
                                    <div class="d-flex align-items-center card-choice">
                                        <input 
                                            type="radio" 
                                            name="@MultipleChoices.Translation" 
                                            value="@choice"
                                            id="@(MultipleChoices.Translation + "_" + choice)"
                                            @onchange="Guess"/>
                                        <label class="ml-2 my-0" for="@(MultipleChoices.Translation + "_" + choice)">@choice</label>
                                    </div>
                                    }
                                </div>
                            }

                        </div>
                        <div class="card-back d-flex align-items-center justify-content-center">
                            <h2>@MultipleChoices.Answer</h2>
                        </div>
                    </div>
                </CallbackOnCssAnimationEnd>
            </CallbackOnCssAnimationEnd>
        </CallbackOnCssAnimationEnd>
    </CallbackOnCssAnimationEnd>
</div>

